Classroom Info
<p>
  <%= render :partial => "classrooms/classroom.html.erb", locals: {classroom: @classroom} %>
</p>

We now want to call out students in the class:
<%@classroom.classroom_students.each do |student|%>
<%= render partial:'students/student', locals:{student:student.student} %>
<%end%>
